main {
  position: relative;
  top: 52px;
  width: 75%;
  height: 70vh;
  padding: 15vh 12.5%;
}

.slick-slide {
  height: 500px;
}

.slick-slide-content {
  vertical-align: super;
}

h3.slick-item-title {
  font-size: 4.5em;
  color: white;
  text-align: center;
}

sup {
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.btn-group {
  text-align: center;
}

a.free-btn,
a.premium-btn {
  height: 80px;
  padding: 12px 50px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

a.free-btn {
  background-color: #1db954;
  border: 2px solid #1db954;
  margin-right: 20px;
}

a.free-btn:hover {
  background-color: #1ed760;
  border: 2px solid #1ed760;
}

a.premium-btn {
  border: 2px solid white;
}

a.premium-btn:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 990px) {
  main {
    width: 77%;
    padding: 0 11.5%;
  }
  h3.slick-item-title {
    font-size: 3.2em;
  }
  a.free-btn,
  a.premium-btn {
    height: 70px;
    padding: 10px 35px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 75%;
    font-weight: bold;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 699px) {
  h3.slick-item-title {
    font-size: 2.1em;
  }
  a.free-btn,
  a.premium-btn {
    height: 14px;
    width: 80%;
    padding: 10px 0;
    margin: 10px 10%;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 70%;
    font-weight: bold;
    text-transform: uppercase;
  }
  a.free-btn {
    float: left;
    margin-right: 0;
  }
  a.premium-btn {
    float: right;
  }
}
