nav {
    position: fixed;
    top: 0;
    width: 80%;
    height: 32px;
    padding: 10px 10%;
    margin: 0;
    background: rgba(10, 10, 10, 0.5);
    color: white;
    font-weight: bold;
    z-index: 1030;
}

.brand-name {
    width: 20%;
    height: 100%;
    float: left;
}

.brand-name span {
    vertical-align: super;
    margin-left: 5px;
    font-size: 1.3em;
}

ul.nav-links {
    width: 80%;
    padding: 7.5px 0;
    float: right;
    margin: 0;
    text-align: right;
}

ul.nav-links .nav-desktop-item {
    display: inline;
}

ul.nav-links li {
    list-style: none;
    display: inline;
    margin: 15px;
}

ul.nav-links .nav-item {
    cursor: pointer;
}

ul.nav-links .nav-item:hover {
    color: #1db954;
}

ul.nav-links .nav-item-separator {
    border: 1px solid white;
}

ul.nav-links .humburger-icon {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    width: 10%;
    padding-left: 90%;
    font-size: 40px;
    text-decoration: none;
    color: white;
} 

.overlay-content {
    position: relative;
    width: 100%;
    padding: 0 5%;
    text-align: left;
}

.overlay-content li {
    list-style: none;
    color: white;
}

.overlay-content h1 {
    margin: 20px 0;
}

.overlay-content .separator {
    width: 20px;
    border: 1.5px solid white;
}

.overlay-content .nav-item {
    margin: 20px 0;
    font-size: 20px;
}

.overlay-content .nav-item span {
    vertical-align: super;
}

@media only screen and (max-width: 990px) {
    nav { 
        width: 86%;
        padding: 10px 7%;
    }
    .brand-name {
        width: 60%; 
    }
    ul.nav-links {
        width: 40%; 
    }
    ul.nav-links .humburger-icon {
        display: inline;
    }
    ul.nav-links .nav-desktop-item {
        display: none;
    }
}