nav {
    position: fixed;
    top: 0;
    width: 80%;
    height: 32px;
    padding: 10px 10%;
    margin: 0;
    background: rgba(10, 10, 10, 0.5);
    color: white;
    font-weight: bold;
    z-index: 1030;
}

.brand-name {
    width: 20%;
    height: 100%;
    float: left;
}

.brand-name span {
    vertical-align: super;
    margin-left: 5px;
    font-size: 1.3em;
}

ul.nav-links {
    width: 80%;
    padding: 7.5px 0;
    float: right;
    margin: 0;
    text-align: right;
}

ul.nav-links .nav-desktop-item {
    display: inline;
}

ul.nav-links li {
    list-style: none;
    display: inline;
    margin: 15px;
}

.nav-item-separator {
    border: 1px solid white;
}

ul.nav-links .humburger-icon {
    display: none;
}

@media only screen and (max-width: 990px) {
    nav { 
        width: 86%;
        padding: 10px 7%;
    }
    .brand-name {
        width: 60%; 
    }
    ul.nav-links {
        width: 40%; 
    }
    ul.nav-links .humburger-icon {
        display: inline;
    }
    ul.nav-links .nav-desktop-item {
        display: none;
    }
}